* {
    margin: 0px;
    padding: 0px;

}

.nav-container{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 1);
    padding: 50px;

}
.logo{
    display: flex;
    gap: 10px;
    font-size: x-large;
}
.logo-img{
    height: 80px;
}
.menus{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
    color: white;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    padding: 30px 30px 0px 100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    height: 88vh;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.1);



}

.banner-img {
    width: 450px;



}

.text-size {
    font-size: 55px;
    font-weight: bold;


}

.description {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);

}

.btn {
    font-size: large;
    padding: 15px 25px;
    background-color: rgba(229, 84, 115, 1);
    color: white;
    border: none;
    border-radius: 5px;
}

.hot-deals {
    padding: 50px 50px 50px 50px;
    background-color: rgba(229, 84, 115, 0.05);
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.deals-head {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 5px;
    text-align: center;
}

.deals-des {
    color: rgba(39, 39, 39, 0.6);
    padding: 5px;
    text-align: center;
    width: 100%;
    margin: auto;
}

.btn-primary {
    margin: 10px 10px 10px 200px;
}

.primary {
    color: rgba(229, 84, 115, 1);
}

.deals-img {
    width: 280px;


}

.display {
    height: 100vh;
}

.insta {
    text-align: center;

}

.ins-head {
    font-size: 35px;
    padding: 10px;
}

.ins-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;

}

.display-image {
    display: flex;
    gap: 10px;
    margin: 0px 30px 10px 100px;

}

.subscription {
    margin: 50px 150px;
    padding: 100px 30px 50px 30px;
    height: 150px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../Rectangle\ 9.png);


}

.box {
    width: 700px;
    height: 50px;
    background: #FFF;
    border-radius: 8px;
    border: rgba(255, 255, 255, 1);

}

.about {
    height: 35vh;
    background-color: rgba(17, 16, 16, 1);
    color: white;
    margin-top: 200px;
}

.about-res {
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    margin-top: 5px;
}
.featured{
    height: 100vh;
}
.featured-head{
    margin-top: 20px;
    padding-top: 20px;
}

.featured-img {
    
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}

.pink {
    background-color: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    width: 350px;
    height: 500px;
    align-items: center;
    padding: 30px 15px 5px 15px;
}
.red{
    background-color: rgba(5, 151, 160, 0.15);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    width: 350px;
    height: 500px;
    align-items: center;
    padding: 30px 15px 5px 15px;
    
}
.yellow{
    background-color: rgba(71, 125, 17, 0.15);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    width: 350px;
    height: 500px;
    align-items: center;
    padding: 30px 15px 5px 15px;


}
.name{
    margin-bottom: 50px;
}

.name ul{
    font-size: 35px;
    gap: 100px;
    text-decoration: underline;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
}